<a href="https://colab.research.google.com/github/Tender-sun/ML/blob/main/python%E8%AF%95%E7%82%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = ['ui','jk']
data
for i in a:
  print((i in a))

True
True

In [7]:
import pandas as pd
A = {"id":[1,1,2,3,3,4,5,5],"price":[5,6,8,3,4,6,9,5],"amount":[1,1,2,1,1,1,2,1],"status":['sale','sale','no','no','sale','no','sale','no']} 
A = pd.DataFrame(A)
A

   id  price  amount status
0   1      5       1   sale
1   1      6       1   sale
2   2      8       2     no
3   3      3       1     no
4   3      4       1   sale
5   4      6       1     no
6   5      9       2   sale
7   5      5       1     no

In [8]:
for x in A['id']:
  print((x in A['id']))

True
True
True
True
True
True
True
True